.avatar {
    height: 65vw;
    width: 65vw;
    max-width: 300px;
    max-height: 300px;
    border-radius: 800px;
    -webkit-border-radius: 20rem;
    -moz-border-radius: 20rem;
    -ms-border-radius: 20rem;
    -o-border-radius: 20rem;
    animation: moveInBottom 1s ease;
    -webkit-animation: moveInBottom 1s ease;
    object-fit: cover;
}